# Виртуальное окружение
venv/

# Кэш и мусор Python
__pycache__/
*.py[cod]
*.log

# IDE
.idea/
.vscode/

# Streamlit и FastAPI логи
FastAPI/logs/
Streamlit/logs/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
